

/* admin =================================== */
/* create user  */
.switch-councilor {}

.switch-user-hide {
  display: none;

}




/* registration form  */


.tab_container{
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns:  repeat(400, 1fr);
}

.tab_list{
  background-color: rgb(221, 221, 221);
  text-align: center;
  padding: .8rem 0;
  /* -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);  */
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.tab_list:nth-child(1){
  background-color: rgb(13, 110, 253);
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%, 0% 0%);
  border-radius: 5px 0 0 5px;
  grid-area: 1 / 1 / 2 / 100;
    color: #fff;
}

.tab_list:nth-child(2){
  grid-area: 1 / 97 / 2 / 200;

}
.tab_list:nth-child(3){
  grid-area: 1 / 197 / 2 / 300;
}
.tab_list:nth-child(4){
  grid-area: 1 / 297 / 2 / 400;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  border-radius: 0 5px 5px 0;
}

@media (max-width: 575px) {
  .tab_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tab_list{
    flex-basis: 100%;
    width: 100%;
    clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%, 0% 0%);
    border-radius: 5px 0 0 5px;

  }
  .tab_list:nth-child(4){
    clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%, 0% 0%);
    border-radius: 5px 0 0 5px;

  }
}


