{% extends "base/_base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        
            <div class="card-body">
                <h5 class="card-title text-success">Password Changed Successfully</h5>
                <p class="card-text text-muted">Your password was changed successfully. You can now use your new password to log in.</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a>
            </div>
       
    </div>
</div>
{% endblock %}