{% for field in form %}
    <div class="col-12 col-md-6 col-lg-6">
        <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
        <input type="{{field.widget_type}}" name="{{field.name}}" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{field.auto_id}}"
            value="{{ field.value|default_if_none:''}}" required>
        {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors  %}
            {{error}}
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endfor %}