{% extends "base/_base.html" %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block banner %}
<div class="banner ">
    <h1 class="banner__title">Hello, {{user.full_name|default:user.username}}</h1>
    <img class="banner__img" src="{% static 'main/images/banner/banner3.jpg' %}" alt="User Profile">
</div>
{% endblock banner %}

{% block content %}
<div class="main">
    <section class="profile segment-margin">

        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-3 align-self-center">
                <img src="{{user.profile_photo.url}}" class="img-fluid rounded"
                    alt="...">
                <p class="text-center"><a href="#" data-bs-toggle="modal"
                        data-bs-target="#user_profile_image">Change Photo</a></p>
            </div>

            <div class="accordion" id="accordionPanelsStayOpenExample">

                <!-- Basic Information -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            Basic Information
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                           <!--<strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                            <div class="row g-3">
                                <div class="col-12">
                                    <label class="text-muted">Full Name: </label>
                                    <span><strong> {{ user.full_name }}</strong></span>
                                   
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Date Of Birth: </label>
                                    <span>{{user.date_of_birth}}</span>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Sex: </label>
                                    <span>{{ user.get_gender_display }}</span>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">blood group : </label>
                                    <span>{{ user.blood_group }}</span>

                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Religion: </label>
                                    <span>{{ user.religion }}</span>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Nationality: </label>
                                    <span>{{user.nationality }}</span>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Language Preference: </label>
                                    <span>English</span>
                                </div>

                            </div>
                            <div class="d-grid pt-2 col-6 mx-auto">
                                <a href="{% url 'patient:edit_basic_info' %}"
                                    class="btn btn-primary">Edit</a>
                            </div>

                        </div>

                    </div>
                </div>

                <!--Address Information -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            Address
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Address: </label>
                                    <span>{{user.address.address}}</span>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Address 2: </label>
                                    <span>{{user.address.address2}}</span>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">City :</label>
                                    <span>{{user.address.city}}</span>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">State: </label>
                                    <span>{{user.address.state }}</span>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Zip-Code: </label>
                                    <span>{{ user.address.zip_code }}</span>
                                </div>


                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted">Country: </label>
                                    <span>{{ user.address.country}}</span>
                                </div>

                                <div class="col-md-6 col-lg-6">

                                </div>
                            </div>

                            <div class="d-grid pt-2 col-6 mx-auto">
                                <button
                                    onclick="window.location.href='{% url 'patient:edit_address' %}'"
                                    class="btn btn-primary" type="button">Edit</button>
                            </div>
                            <div class="d-grid pt-2 col-6 mx-auto">
                            </div>

                        </div>
                    </div>
                </div>

                <!-- contact information -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            Contact Info
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-12 col-lg-12">
                                    <label class="text-muted">Email Address: </label>
                                    <span><a data-bs-toggle="tooltip" data-bs-title="Click to change the email"
                                            id="changeEmail" href="">{{ user.email }}</a></span>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <label class="text-muted">Contact No: </label>
                                    <span>{{user.phone}}</span>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <label class="text-muted">Emmergency Contact No: </label>
                                    <span>{{user.additional_phone}}</span>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted"></label>
                                    <span></span>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <label class="text-muted"></label>
                                    <span></span>
                                </div>
                            </div>
                            <div class="d-grid pt-2 col-6 mx-auto">
                                <button
                                    onclick="window.location.href='{% url 'patient:edit_contact' %}'"
                                    class="btn btn-primary" href="">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Medical Condition-->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#medicalCondition" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            Medical Condition
                        </button>
                    </h2>
                    <div id="medicalCondition" class="accordion-collapse collapse">
                        <div class="accordion-body row g-2">
                            <!--vital signs-->
                            <div class="col-12">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-success active" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Show Vital Signs</button>
                                    <button type="button" class="btn btn-success">Add Recent Test</button>
                                </div>
                                <div class="collapse col-12" id="collapseExample">
                                    <div class="card card-body">
                                        {% for report  in user.vitalsignsreport_set.all %}
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            <div class="col">
                                              <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <h2 class="col-6">{{report.checkup_date}}</h2>
                                                        <div class="col-6 justify-content-end d-flex align-items-center ">
                                                            <button class="btn btn-primary btn-sm me-2">Edit</button>
                                                            <button class="btn btn-danger btn-sm">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                  {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                                                  <div class="">
                                                    <label class="text-muted">Blood Pressure Level:</label>
                                                    <span>{{report.systolic}}/{{report.diastolic}}</span>
                                                </div>
                                                <div class="">
                                                    <label class="text-muted">Heart Rate: </label>
                                                    <span>{{report.heart_rate}}</span>
                                                </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>       
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--Blood sugar-->
                            <div class="col-12">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-success active" data-bs-toggle="collapse" data-bs-target="#blood_sugar" aria-expanded="false" aria-controls="blood_sugar">Show Blood Sugar Level</button>
                                    <button type="button" class="btn btn-success">Add Recent Test Report</button>
                                </div>
                                <div class="collapse col-12" id="blood_sugar">
                                    <div class="card card-body">
                                        {% for report  in user.bloodsugar_set.all %}
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            <div class="col">
                                              <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <h2 class="col-6">{{report.checkup_date}}</h2>
                                                        <div class="col-6 justify-content-end d-flex align-items-center ">
                                                            <button class="btn btn-primary btn-sm me-2">Edit</button>
                                                            <button class="btn btn-danger btn-sm">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                  {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                                                  <div class="">
                                                    <label class="text-muted">Blood Sugar Level:</label>
                                                    <span>{{report.sugar_level}}</span>
                                                </div>
                                                
                                                </div>
                                              </div>
                                            </div>
                                        </div>       
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--Biological Info-->
                            <div class="col-12">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-success active" data-bs-toggle="collapse" data-bs-target="#biological_info" aria-expanded="false" aria-controls="biological_info">Show Biological Information</button>
                                </div>
                                <div class="collapse col-12" id="biological_info">
                                    <div class="card card-body">
                                        {% for report  in user.biologicalinfo_set.all %}
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            <div class="col">
                                              <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <h2 class="col-6">{{'Details'}}</h2>
                                                        <div class="col-6 justify-content-end d-flex align-items-center ">
                                                            <button class="btn btn-primary btn-sm me-2">Edit</button>
                                                            <button class="btn btn-danger btn-sm">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                  {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                                                  <div class="">
                                                    <label class="text-muted">Height:</label>
                                                    <span>{{report.height|floatformat:0 }}cm</span>
                                                </div>
                                                <div class="">
                                                    <label class="text-muted">Weight: </label>
                                                    <span>{{report.weight|floatformat:0}}kg</span>
                                                </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>       
                                        {% endfor %}
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>


<!-- # Modal for upload profile photo  -->
<div>
    <!-- Always remember that you are absolutely unique. Just like everyone else. - Margaret Mead -->
    <!-- Modal -->
    <div class="modal fade" id="user_profile_image" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Your Photo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'accounts:change_profile_photo' %}" id="frm_profile_picture" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="formFile" class="form-label">choose photo</label>
                            <input class="form-control" name="profile_photo" type="file" accept="image/*" id="formFile">
                        </div>
                        <div class="mb-3">

                            <input class="btn btn-primary" value="Upload" name="btn_profile_picture" type="submit">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

{% comment %} {{user.vital_signs_reports.all}}
{% for report in  user.vital_signs_reports.all %}
hello
{{report.blood_pressure}}
{% endfor %} {% endcomment %}
<!-- Toaster alert-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    {% if messages %}
    {% for message in messages %}
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header ">
          {% comment %} <img src="..." class="rounded me-2" alt="..."> {% endcomment %}
          <strong class="me-auto text-{{message.tags}}">{{message.tags}}</strong>
          {% comment %} <small>11 mins ago</small> {% endcomment %}
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}

{% block push_scripts %}
<script>
  $(document).ready(function () {
    $('.toast').toast({
        delay: 1000*20,
    }).toast('show')
});
</script>
{% endblock push_scripts %}