{% extends "base/_base.html" %}
{% load static %}
{% block push_css %}
<style>
    .full-height {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock push_css %}
{% block banner %}
<div class="banner ">
    <h1 class="banner__title">Reset Complete</h1>
    <img class="banner__img" src="{% static 'main/images/banner/banner3.jpg' %}" alt="Login ">
</div>
{% endblock banner %}
{% block content %}
<div class="container my-5 ">
    <div class="full-height">
        <h3 class="text-center">
            Your password has been set.
        </h3>
        <h3 class="text-center">
            You may go ahead and <a class="btn btn-primary" href="{% url 'accounts:login' %}">Login</a> now.
        </h3>
    </div>
        
</div>
  
{% endblock %}