{% extends "base/_base.html" %}
{% load static %}
{% block banner %}
<div class="banner ">
    <h1 class="banner__title">Reset Password</h1>
    <img class="banner__img" src="{% static 'main/images/banner/banner3.jpg' %}" alt="Login ">
</div>
{% endblock banner %}
{% block content %}
<div class="container mt-5">

    {% if validlink %}

        <div class="card mx-auto col-8">
            <div class="card-body">

                <h3>Create New password</h3>
                <form method="post" novalidate>
                {% csrf_token %}
                    <div>
                        {% if form.non_field_errors %}
                            {% comment %} <div class="error">{{ form.non_field_errors }}</div> {% endcomment %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {% for error in form.non_field_errors %}
                                {{error}}
                                {% endfor %}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    </div>
                {% comment %} {{ form.as_p }} {% endcomment %}
                    <div class="mb-3">
                        <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{form.new_password1.label }}</label>
                        <input type="{{form.new_password1.widget_type}}" name="{{form.new_password1.name}}" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" id="{{ form.new_password1.auto_id }}" required>
                            {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                    </div>
        
                    <div class="mb-3">
                        <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{form.new_password2.label}}</label>
                        <input type="{{form.new_password1.widget_type}}" name="{{form.new_password2.name}}" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" id="{{ form.new_password2.auto_id }}" required>
                        {% if form.new_password2.errors %}
                            {% for error in form.new_password2.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                
                
                    <div class="col-12">
                        <input class="btn btn-success" type="submit" class="form-control" value="Change Password">
                    </div> 
                </form>
            </div>
        </div>
    {% else %}
        <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
        </p>
    {% endif %}
</div>
 
{% endblock %}