{% extends "base/_base.html" %}
{% load static %}
{% block title %}{{"reset password"}}{% endblock title %}




{% block banner %}
<div class="banner ">
    <h1 class="banner__title">Reset Password</h1>
    <img class="banner__img" src="{% static 'main/images/banner/banner3.jpg' %}" alt="Login ">
</div>
{% endblock banner %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card my-5 col-lg-8 col-md-10 col-12 pb-3">
            <h3 class="py-3">Password reset</h3>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form class="row g-3" method="post" novalidate>
                {% csrf_token %}
                {% comment %} {{form}} {% endcomment %}
                 <div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                             {% for error in form.non_field_errors %}
                              {{error}}
                             {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email Address</label>
                    <input type="email" name="{{form.email.name}}" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="{{ form.email.auto_id }}" required>
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
               
                <div class="col-12">
                    <input class="btn btn-success" type="submit" class="form-control" value="Reset Password">
                </div> 
                
            </form>
        </div>    
    </div>
</div>

{% endblock content %}