{% extends "base/_base.html" %}

{% load static %}

{% block banner %}
<div class="banner ">
    <h1 class="banner__title">Password Changed</h1>
    <img class="banner__img" src="{% static 'main/images/banner/banner3.jpg' %}" alt="Login ">
</div>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card">
        
            <div class="card-body">
                <h5 class="card-title text-success">Password Changed Successfully</h5>
                <p class="card-text text-muted">Your password was changed successfully. You can now use your new password to log in.</p>
                <a href="{% url 'main:home' %}" class="btn btn-primary">Go to Home</a>
            </div>
       
    </div>
</div>
{% endblock %}